/* BRAND COLOURS

pink/peach 1: #ef9878 , rgba(239,152,120,255)
pp2:  #ee9879 , rgba(238,152,121,255)
yellow1:  #f4c24e , rgba(244,194,78,255)
yellow2:  #f6c14f , rgba(246,193,79,255)
blue1:  #98c1d7 , rgba(152,193,215,255)
blue2:  #98c0d7 , rgba(152,192,215,255)
green1:  #bcd69a , rgba(188,214,154,255)
green2:  #bcd699 , rgba(188,214,153,255)
purple1:  #b4a9d7 , rgba(180,169,215,255)
purple2:  #b5a9db , rgba(181,169,219,255)
red/dark pink: #d75754 , rgba(215,87,84,255)
orange: #ffb35e , rgba(255,179,94,255)

background beige1: #e9d8c4 , rgba(233,216,196,255)
2: #f7f1e4 rgb 247,241,228


*/


@media screen and (max-width: 481px) {
  body {
    word-spacing: 20px;

    margin-right: auto;
  }
}

#logo_gif {
    width:  20em;
    height: 20em;
    margin-right: auto;
    margin-left: auto;
    margin-top: -2em;
    display: block;
    padding: 2em;
}

#cart_icon {
    width: 2em;
    height: 2em;
    margin-right: 40px;
    padding: 1px;
    float: right;
    margin-top: -70px;
}

#account_icon {
    width: 2em;
    height: 2em;
    margin-right: 80px;
    float: right;
    margin-top: -70px;
    padding: 1px;
}


body {
    background-color:#f7f1e4;
    width: 100;
}

li {
    list-style-type: none;
    display: inline;
    padding: 3px;
}


a {
    text-decoration: none;
    color: #98c1d7;
}



.main_navbar {

    /* display block & margin auto & text align to center navbar */

    display: block;
    margin: auto;
    text-align: center;
    margin-left: -75px;
}

.navbar_links {
    position: relative;
    display: block;
    word-spacing: 53px;

    font-family: Tahoma;
    font-size: 24px;
    margin-top: -33px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.dropdown_nav {
    position: relative;
    display: inline-block;
    word-spacing: 1px;
}

.dropdown_links {
    display: none;
    position: absolute;
    text-align: left;
    padding-top: 3px;

    font-size: 18px;
    background-color: #f7f1e4 ;
}

.dropdown_nav:hover .dropdown_links {
    display: block;
    width: 155px;
    padding: 10px;

}

/* change from + to - when dropdown menu is open */

.dropdown_nav .shop_after {
    display: none;
}

.dropdown_nav .faq_after {
    display: none;
}

.dropdown_nav:hover .shop_before {
    display: none;
}

.dropdown_nav:hover .faq_before {
    display: none;
}

.dropdown_nav:hover .shop_after {
    display: inline;
}

.dropdown_nav:hover .faq_after {
    display: inline;
}

.dropdown_links li {
    line-height: 32px;
    letter-spacing: 2px;
}


/* finished */


#promotion_image {

    margin: auto;
    width: 95%;
    height: 600px;
    padding:  15px;
    display: block;
}

.favourites {
    display: inline-flex;
}

.favourites_heading {
    font-size: 24px;
    font-family: tahoma;
    letter-spacing: 1px;
    position: block;
    text-align: center;
    color: #98c1d7 ;
    margin-top: 80px;
}

.favourites h1 {
    font-family: tahoma;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 50px;
    margin-top: auto;
    color: #98c1d7;
}

.favourites p {
    font-family: tahoma;
    font-size: 14px;
    font-weight: bolder;
    color: black;
    margin-left: 50px;
}

.favourites_image {
    padding: 15px;
    margin: 40px;
    height: 250px;
    width: 200px;
    position: relative;
    display: inline-table;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 25px;

}

.banner {
    width: 100%;
    height:  50px;
    background-color: #98c1d7 ;
    margin-top: 0 auto;
}

.top_banner {
    display: block;
    position: relative;
    margin-top: -20px;
    border-style: solid;
    border-color: #98c1d7;
    height: 50px;
    width: 100%;
    background-color: #98c1d7;
    padding-bottom: 10px;

}

.banner h3 {
    font-size: 24px;
    font-family: tahoma;
    font-weight: bolder;
    color: #f7f1e4 ;
    text-align: center;
}
